.container {
  position: fixed;
  display: flex;
  justify-items: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 3;
}

.alert {
  display: flex;
  padding: 15px;
  border-radius: 20px;
  margin: auto;
  width: 300px;
  height: fit-content;
  text-align: center;
  opacity: 1;
  color: var(--white);
  box-shadow: 0px 5px var(--shadow-color1);
  background-color: var(--button-color1);
}

#notetitle {
  font-size: 20px;
  font-weight: 800;
  text-align: left;
  width: 100%;
}

#notemessg {
  font-size: 16px;
  text-align: left;
  width: 100%;
}

.alert-success {
  background-color: #4CAF50;
}

.alert-info {
  background-color: #2196F3;
}

.alert-warning {
  background-color: #ff9800;
}

.alert-danger {
  background-color: #f44336;
}

.fade {
  opacity: 0;
  transition: opacity 0.15s linear;
}

.hide {
  display: none;
}

.btnclose {
  font-family: Sniglet;
  font-size: 24px;
  font-weight: 800;
  padding: 10px 10px 10px 20px;
  color: inherit;
  background-color: transparent;
  border: 0;
  opacity: 0.5;
  cursor: pointer;
}