.container {
  display: flex;
  height: 100%;
  width: 100%;
}

.sender {
  border: none;
  float: left;
  display: grid;
  grid-template-columns: 30px 1fr;
}

.sender h1 {
  grid-row: 1;
  grid-column: 2;
  color: var(--text-color3);
  font-size: 14px;
}

.sender img {
  grid-row: 2;
  grid-column: 1;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.sender p {
  grid-column: 2;
  color: var(--background-color2);
  background-color: var(--background-color3);
  border-radius: 10px;
  padding: 10px;
  margin-top: 3px;
  width: fit-content;
  height: fit-content;
}

.receiver {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-end;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.receiver p {
  color: #fff;
  background-color: var(--button-color3);
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  width: fit-content;
  height: fit-content;
}

.inputMessage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  width: 100%;
  height: fit-content;
  color: var(--text-color3);
  background-color: var(--background-color2);
  border-radius: 10px;
  padding: 10px;
}

.iputWrapper {
  width: fit-content;
}

.inputMessage p {
  white-space: nowrap;
  overflow: hidden;
}

.typingAnimation {
  display: block;
  border-radius: 20px;
  margin: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.typingAnimationDot {
  display: block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: var(--background-color2);
  margin: 3px;
  animation: typing 1000ms ease-in-out infinite;
  animation-delay: 3600ms;
}

.typingAnimationDot:nth-child(1) {
  animation-delay: 0ms;
}

.typingAnimationDot:nth-child(2) {
  animation-delay: 333ms
}

.typingAnimationDot:nth-child(3) {
  animation-delay: 666ms;
}

@keyframes typing {
  0% {
    transform: scale(1);
  }

  33% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.4);
  }

  100% {
    transform: scale(1);
  }
}