@import url('https://fonts.googleapis.com/css?family=Sniglet&display=swap');

@media (prefers-color-scheme: light) {
  :root {
    --color1: #EEF1E6;
    --color2: #BEB0D0;
    --color3: #B796CC;
    --color4: #B679CB;
    --color5: #FEE3CA;
    --color6: #F9B05F;
    --color7: #B679CB;
    --color8: #EEF1E6;
    --color9: #F9B05F;
    --color10: #EEF1E6;
    --color11: #EEF1E6;
    --color12: #BEB0D0;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color1: #050618;
    --color2: #533BA3;
    --color3: #533BA3;
    --color4: #FFFFFF;
    --color5: #533BA3;
    --color6: #050618;
    --color7: #533BA3;
    --color8: #050618;
    --color9: #533BA3;
    --color10: #FFFFFF;
    --color11: #FFFFFF;
    --color12: #442d8f;
  }
}



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*:focus {
  outline: none;
}

html,
body {
  font-family: "Sniglet";
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--color4);
  background: var(--color1);
}