@import url('https://fonts.googleapis.com/css?family=Sniglet&display=swap');

@media (prefers-color-scheme: light) {
  :root {
    --white: #EEF1E6;
    --background-color1: #EEF1E6;
    --background-color2: #000000;
    --background-color3: #e0e3da;
    --shadow-color1: #BEB0D0;
    --shadow-color2: #B796CC;
    --text-color1: #B679CB;
    --text-color2: #EEF1E6;
    --text-color3: #BEB0D0;
    --gradient1: #EEF1E6;
    --gradient2: #FEE3CA;
    --button-color1: #F9B05F;
    --button-color2: #B679CB;
    --button-color3: #F9B05F;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --white: #FFFFFF;
    --background-color1: #050618;
    --background-color2: #FFFFFF;
    --background-color3: #808080;
    --shadow-color1: #533BA3;
    --shadow-color2: #533BA3;
    --text-color1: #FFFFFF;
    --text-color2: #FFFFFF;
    --text-color3: #442d8f;
    --gradient1: #050618;
    --gradient2: #533BA3;
    --button-color1: #050618;
    --button-color2: #533BA3;
    --button-color3: #533BA3;
  }
}



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*:focus {
  outline: none;
}

html,
body {
  font-family: "Sniglet";
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--text-color1);
  background: var(--background-color1);
}