@import url('https://fonts.googleapis.com/css?family=Sniglet&display=swap');

#home {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    width: 50vw;
    min-width: 300px;
    max-width: 600px;
}

#title {
    display: inline-block;
    margin: 5px;
    margin-top: 10vh;
    font-size: 24px;
}

.HomeContainer {
    margin: 20px 0 20px 0;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    background: var(--color1);
    box-shadow: 0px 10px 10px var(--color3);
}

#UserContainer {
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: space-between;
}

#UserContainerInner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#userpic {
    height: 32px;
    width: 32px;
    border: 1px solid var(--color1);
    border-radius: 50%;
}

#logout {
    height: 32px;
    width: 32px;
    cursor: pointer;
}

#username {
    font-size: 18px;
    margin-left: 10px;
}

#NavigationContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#NavigationContainer button {
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    width: 100%;
    background-color: var(--color1);
    color: var(--color7);
    font-family: Sniglet;
    font-size: 18px;
    font-weight: 800;
    border: none;
    outline-width: 0;
    background: transparent;
    cursor: pointer;
}

#NavigationContainer button:active {
    border-radius: 20px;
    transform: translateY(5px);
    box-shadow: 0px 0px;
}

#NavigationContainer button:hover:not(:disabled) {
    background-color: var(--color6);
    color: var(--color11);
    box-shadow: 0px 10px 10px var(--color2);
}

#NavigationContainer button:disabled {
    color: var(--color3);
    cursor: not-allowed;
}

#PuzzlesContainer {
    margin: 20px 0 20px 0;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    background: var(--color1);
    box-shadow: 0px 10px 10px var(--color3);

    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;

    scrollbar-width: none;
    -ms-overflow-style: none;

    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;

    min-width: 50vw;
    min-width: 300px;
    max-width: 600px;
}

#PuzzlesContainer::-webkit-scrollbar {
    display: none;
}

.PuzzleCard {
    min-width: 100%;
}

#ClueContainer {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    scroll-snap-align: center;
}

#cluenum {
    font-size: 14px;
    opacity: 50%;
    text-align: left;
}

#cluecont {
    margin: 20px 0 20px 0;
    font-size: 18px;
    text-align: left;
}

#InputContainer {
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: space-between;
}

#InputField {
    display: inline-block;
    border: none;
    outline-width: 0;
    font: 100 18px/1.5 "Sniglet";
    color: var(--color4);
    width: 85%;
    background: transparent;
}

#SubmitButtonImage {
    height: 32px;
    width: 32px;
    cursor: pointer;
    display: inline-block;
}

#SubmitButtonImage path {
    color: var(--color1);
}

.PredictionBar {
    margin: 20px 0 20px 0;
    border: 1px solid var(--color1);
    border-radius: 20px;
    background: var(--color7);
    box-sizing: content-box;
}

.Prediction {
    display: inline-block;
    position: relative;
    width: 50%;
    left: 2px;
    top: 2px;
    height: 20px;
    border-radius: 20px;
    background: linear-gradient(to left, var(--color1), var(--color5));
}

.ProgressBar {
    margin: 20px 0 20px 0;
    border-radius: 20px;
    background: var(--color6);
    box-sizing: content-box;
    margin-bottom: 10vh;
}

.Progress {
    display: inline-block;
    position: relative;
    width: 50%;
    left: 2px;
    top: 2px;
    height: 20px;
    border-radius: 20px;
    background: linear-gradient(to left, var(--color8), var(--color5));
}

.Footer {
    position: sticky;
    bottom: 5vh;
    left: 50%;
    transform: translate(-50%, 0%);
    margin: auto;
}

.circle {
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;

    z-index: -100;
    /* background: radial-gradient(circle, #533BA3, #0A0311); */
    height: 100vh;
    width: 100vw;

    background: var(--color3);
    /* mix-blend-mode: hard-light; */
    filter: blur(500px);
}