@import url('https://fonts.googleapis.com/css?family=Sniglet&display=swap');

.container {
    display: flex;
    flex-direction: row;
    align-content: center;

    scroll-snap-type: x mandatory;
    overflow-x: hidden;

    -ms-overflow-style: none;
    scrollbar-width: none;

    width: 50vw;
    min-width: 300px;
    max-width: 600px;
    height: 50vh;

    margin: 20px 0 20px 0;
    border-radius: 20px;
    background: var(--background-color1);
    box-shadow: 0px 10px 10px var(--shadow-color2);
}

.container::-webkit-scrollbar {
    display: none;
}

.title {
    display: inline-block;
    margin: 5px;
    font-size: 24px;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;

    scroll-snap-align: center;
    min-width: 100%;
    padding: 20px;
}

.LoginTitle {
    display: inline-block;
    margin: 0 0 0 5px;
    font-size: 24px;
}

.LoginButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 20px;
    background: var(--button-color3);
    color: var(--text-color2);
    box-shadow: 0px 5px var(--shadow-color1);
    cursor: pointer;
}

.LoginButton:active {
    background-color: var(--shadow-color1);
    transform: translateY(5px);
    box-shadow: 0px 0px;
}

.Google {
    margin-left: 20px;
}


#NavigationContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#NavigationContainer button {
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    width: 100%;
    background-color: var(--background-color1);
    color: var(--button-color2);
    font-family: Sniglet;
    font-size: 18px;
    font-weight: 800;
    border: none;
    outline-width: 0;
    background: transparent;
    cursor: pointer;
}

#NavigationContainer button:active {
    border-radius: 20px;
    transform: translateY(5px);
    box-shadow: 0px 0px;
}

#NavigationContainer button:hover:not(:disabled) {
    background-color: var(--background-color1);
    color: var(--text-color1);
    box-shadow: 0px 10px 10px var(--shadow-color2);
}

#NavigationContainer button:disabled {
    color: var(--shadow-color2);
    cursor: not-allowed;
}


.ProgressBar {
    margin: 20px 0 20px 0;
    border-radius: 20px;
    background: var(--button-color1);
    box-sizing: content-box;
    margin-bottom: 10vh;
}

.Progress {
    display: inline-block;
    position: relative;
    max-width: 100%;
    left: 2px;
    top: 2px;
    height: 20px;
    border-radius: 20px;
    background: var(--gradient2);
}

.Footer {
    position: sticky;
    bottom: 5vh;
    text-align: center;
    width: 100%;
}

.circle {
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;

    z-index: -100;
    /* background: radial-gradient(circle, #533BA3, #0A0311); */
    height: 100vh;
    width: 100vw;

    background: var(--shadow-color2);
    /* mix-blend-mode: hard-light; */
    filter: blur(500px);
}