.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.StartButton {
  text-align: center;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 5px var(--color2);
  background-color: var(--color6) !important;
  max-width: 60%;
  color: var(--color11);
  font-family: Sniglet;
  font-size: 16px;
  border: none;
  outline-width: 0;
  background: transparent;
  cursor: pointer;
}

.Controls {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
}

.Controls button {
  text-align: center;
  padding: 20px;
  max-width: 60%;
  font-family: Sniglet;
  font-size: 16px;
  border: none;
  outline-width: 0;
  background: transparent;
  cursor: pointer;
}

.Maze {
  display: grid;
  grid-template-columns: repeat(21, 1fr);
  width: 100%;
  place-items: center;
}